@media (max-width: 640px) {
    div#left {
        width: 0;
    }

    div#right {
        margin-left: 20px;
    }

    div#left:hover {
        width: 200px;
    }

    div#left:hover + div {
        margin-left: 220px;
    }
}

@media (max-width: 800px) {
    div#userlist {
        width: 0;
    }

    div#userlist:hover {
        width: 200px;
    }
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("/fonts/Roboto-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("/fonts/Roboto-cyrillic.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

::-webkit-scrollbar {
    background: #2A2A2A;
    border: solid 6px #202020;
}

::-webkit-scrollbar-thumb {
    background: rgba(127, 154, 234, 0.2);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 154, 234, 0.6);
}

::-webkit-scrollbar-button:start:decrement {
    background: #2A2A2A;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

::-webkit-scrollbar-button:end:increment {
    background: #2A2A2A;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

html, body, #left, #Map, #Chat, #map {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #1A1A1A;
    color: #B8B8B8;
}

body > div {
    padding: 10px;
}

#secret, body > a {
    margin: 10px;
}

body > input[type="text"] {
    margin-left: 10px;
}

a, .edit {
    color: #039be5;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], textarea {
    border: none;
    border-bottom: 1px solid rgba(127, 153, 234, 0.5);
    color: #ffffff;
    border-radius: 0;
    outline: none;
    height: 2rem;
    margin: 0 10px 9px 0;
    /* transition: box-shadow .3s; */
    background: transparent;
}

input[type="text"] {
    font-size: 1rem;
    color: #ffffff;
}

textarea {
    width: 500px;
    height: 100px;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

textarea:focus {
    border-color: #7F99EA;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid #7F99EA;
    box-shadow: 0 1px 0 0 #26a69a;
}

#secret {
    font-size: 1.5em;
    display: block;
}

.button {
    border-radius: 5px;
    line-height: 36px;
    outline: 0 none;
    padding: 0 1.4rem;
    text-transform: uppercase;
    color: #FFF;
    border: solid 2px #7F99EA;
    letter-spacing: 0.5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    will-change: opacity, transform; /* blurry buttons */
    transition: all 0.3s ease-out 0s;
    margin-right: 10px;
    height: 36px;
    overflow: hidden;
}

.button:hover {
    background-color: rgba(127, 153, 234, 0.6);
}

.button2{
    border-radius: 5px;
    line-height: 20px;
    padding: 0 0.5rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease-out 0s;
    overflow: hidden;
    border: solid 1px
}

.menu {
    cursor: pointer;
    transition: all 0.25s ease 0s;
    color: #7f99ea;
    line-height: 1.5rem;
    height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid rgba(127, 153, 234, 0.5);
}

.menu.active {
    background-color: #7F99EA;
    color: #EAFAF9;
}

.menu:hover:not(.active), .contextmenu div:hover {
    background-color: rgba(127, 153, 234, 0.3);
}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    padding: 0;
    height: 2px;
    background: #77b7ff;
    box-shadow: 0 0 10px rgba(119, 183, 255, 0.7);
    -webkit-transition: width 10s ease;
    transition: width 10s ease;
}

#left > img {
    border-radius: 100%;
    display: block;
    margin: 0 auto 5px auto;
    min-height: 128px;
}

#left > a.button {
    border: solid 2px #D32D2D;
    margin: 0 0 5px 30px;
}

#left > a.button:hover {
    background-color: rgba(211, 45, 45, 0.6);
}

#left > label {
    display: block;
    color: #616161;
    direction: rtl;
    margin: 10px 20px 25px 20px;
    float: left;
}

input#debug {
    direction: ltr;
}

#left {
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow: auto;
    width: 200px;
    transition: width 0.2s ease-out;
}

#right {
    width: auto;
    height: 95%;
    margin-left: 220px;
    transition: margin-left 0.2s ease-out;
}

.username, .leaflet-container a.username {
    color: grey;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#Map, #Chat, #map {
    width: 100%;
}

.live-cluster-small div {
    background-color: rgba(222, 0, 0, 0.6);
}

.live-cluster-medium div {
    background-color: rgba(180, 0, 0, 0.7);
}

.live-cluster-large div {
    background-color: rgba(150, 0, 0, 0.9);
}

.replay-cluster-small div {
    background-color: rgba(59, 51, 227, 0.6);
}

.replay-cluster-medium div {
    background-color: rgba(43, 38, 174, 0.7);
}

.replay-cluster-large div {
    background-color: rgba(33, 29, 128, 0.9);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    background-color: white;
}

.marker-cluster div {
    width: 36px;
    height: 36px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    border-radius: 18px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 36px;
    color: white;
    font-weight: bold;
}

.leaflet-popup-content .description {
    min-height: 128px;
}

.leaflet-popup-content {
    width: 350px !important;
}

.description a {
    font-weight: bold;
}

.description img {
    float: left;
    margin-right: 10px;
}

.icon {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 5px center;
    -webkit-filter: invert(1) opacity(70%);
    filter: invert(1) opacity(70%);
    color: #FC641D;
}

.icon:hover {
    -webkit-filter: invert() opacity();
    filter: invert(1) opacity();
}

.chatlink {
    background-image: url("/images/comment-black.png");
}

.watching {
    background-image: url("/images/user-black.png");
}

.hearts {
    background-image: url("/images/heart-black.png");
}

.delete {
    background-image: url("/images/delete-black.png");
    height: 14px;
}

.screenlist {
    background-image: url("/images/camera-black.png");
    height: 14px;
}

.date {
    background-image: url("/images/calendar-black.png");
}

.time {
    background-image: url("/images/clock-black.png");
}

.friend_chat {
    background-image: url("/images/eye-black.png");
}

.is_locked {
    background-image: url("/images/lock-black.png");
}

.edit {
    background-image: url("/images/edit-black.png");
    background-position: center;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
}

.edit:hover {
    background-color: rgba(252, 100, 29, 0.3);
}

.lives {
    background-image: url("/images/video-black.png");
}

dt {
    min-width: 150px;
    float: left;
    padding-top: 0.5rem;
}

#ApiTest input {
    width: 500px;
}

pre {
    background-color: #2A2A2A;
    padding: 7px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.card {
    font: 13px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif;
    min-height: 128px;
    margin: 0.2rem 0 0.2rem 0;
    background-color: #222222;
    border-radius: 2px;
    min-width: 350px;
    border-left: 5px solid #222222;
    padding-left: 5px;
}

.card .description {
    padding-top: 10px;
    padding-right: 10px;
}

.card.RUNNING {
    border-color: #ED4D4D;
}

.card.RUNNING a.broadcastTitle {
    color: #ED7272;
}
.card.ENDED {
    border-color: #4350E9;
}

.card.TIMED_OUT {
    border-color: #039be5;;
}

.card img {
    height: 128px;
    margin-top: -10px;
    min-width: 72px;
}

.links {
    min-height: 55px;
    line-height: 25px;
    display: table;
}
.oldLinks a{
    color: gray;
}
/* CHAT */

#userlist {
    float: right;
    width: 250px;
    transition: width 0.2s ease-out;
}

#chat {
    word-break: break-all;
}

#chat, #userlist {
    border: 1px solid #bcbcbc;
    height: 84%;
    padding: 5px;
    overflow-y: auto;
}

#resultConsole {
    overflow-y: auto;
    height: 300px;
}

.user {
    white-space: nowrap;
}

#chat .user {
    color: #7F99EA;
    cursor: pointer;
    font-size: 0.8em;
    vertical-align: top;
}

#userlist .user {
    cursor: default;
}

.user div {
    display: inline;
}

#title {
    font-size: 16px;
}

#presence {
    text-align: right;
}

#sendLike {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#underchat {
    padding-top: 5px;
}

#underchat label {
    margin-top: 0.5em;
}

#underchat div {
    margin-right: 310px;
}

#message {
    width: 100%;
}

.service {
    color: green;
}

.error {
    color: red;
}

.messageBox{
    display: flex;
    margin: 0.2rem 0 0.2rem 0;
    background-color: #222222;
}

.chatUserImg{
    height: 45px;
    background-color: gray;
    min-width: 45px;
    display: -webkit-inline-box;
    background-size: cover;
    opacity: 0.8;
    border-top-left-radius: 10px;
}
.chatUserImg:hover{
    opacity: 1;
}
.messageTime{
    opacity: 0.2;
    font-size: 0.8em;
    vertical-align: top;
}

.messageBox:hover .messageTime{
    opacity: 1;
}

.chatMessage {
    padding: 5px;
}

.bigThumbnail{
    height: 100px;
    min-width: 100px;
}

.displayName{
    font-size: 0.8em;
    cursor: pointer;
    vertical-align: top;
}

.hidename{
    display: none;
}

/* EMOJI */
span.emoji {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
}

span.emoji-sizer {
    margin: -2px 0;
}

span.emoji-outer {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

span.emoji-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}

img.emoji {
    width: 1.5em;
    height: 1.5em;
}

/* USER */
img.avatar {
    border: none;
    background: url("/images/default_avatar.png");
    border-radius: 100%;
}

#People .username {
    font-size: 17px;
}

#followers {
    width: 50%;
    float: right;
}

#following {
    width: 48%;
    float: left;
}

.twitterlink:hover g, .periscopelink:hover .tofill {
    fill: #59adeb;
}

.featured {
    padding: 3px;
    margin-left: 10px;
    border-radius: 3px;
    color: white;
}

.card .userdescription {
    overflow: hidden;
    max-height: 2.8em;
    text-overflow: ellipsis;
}

.right {
    float: right;
}

.contextmenu {
    position: absolute;
    padding: 0;
    background: white;
}

.contextmenu div {
    padding: 5px;
    cursor: pointer;
}

.spoiler-content-visible {
    padding: 5px;
    background: #1A1A1A;
    height: auto !important;
}

/* Split.js */
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url("/images/vertical.png");
    cursor: ew-resize;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

img.lock {
    height: 14px;
    width: 14px;
    margin-left: -30px;
    min-width: 14px;
    margin-top: 100px;
    border: none;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,1));
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,1));
}

.bullets {
    background-image: url("/images/bullets-black.png");
    width: 14px;
    height: 14px;
    display: block;
    margin: 11px;
}

.searcher {
    background: white;
    padding: 0 10px;
}

.searcher input, .searcher input:focus {
    border: none;
    box-shadow: none;
    margin: 0;
}

input[type="number"] {
    background-color: #2A2A2A;
    color: #B8B8B8;
}

input[type="number"]:focus {
    outline: #7F99EA auto 5px;
}

select {
    background-color: #2A2A2A;
    color: #B8B8B8;
}

select:focus {
    outline: #7F99EA auto 5px;
}

.button.activated {
    background-color: #7F99EA;
}

.button.activated:hover {
    background-color: rgba(127, 153, 234, 0.6);
}

span.sProducer {
    left: -1px;
    top: -8px;
    margin-left: -70px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px;
}

.newHighlight {
    background-color: #2F2F2F;
    box-shadow: 1.5px 0 0px 2px #838383;
}

.card.downloading {
    border-right: 10px solid #ED4D4D;
    min-height: 50px;
}

.card.finished {
    border-right: 10px solid #4350E9;
    min-height: 50px;
}

.linkLive {
    color:#ED4D4D;
}

.linkReplay {
    color: white;
    border-color: #4350E9
}

.linkPartialReplay {
    color:#4350E9;
}

.card.deletedBroadcast {
    background-color: rgb(20, 20, 20);
    -webkit-filter: grayscale(0.3);
    filter: grayscale(0.3);
}

#followingFilters label {
    background-color: #222222;
    margin: 4px;
    padding: 2px 10px 2px 2px;
    display: inline-block;
}

#followingFilters{
    background-color: #1A1A1A;
    Width:100%;
    border: 1px solid #343434
}

fieldset.languageFilter {
    border: 1px solid #343434;
}

#downloadFrom{
    display: flex;
}

#broadcastLink{
    width: 100%;
}

#optionsContainer{
    display: inline-table;
}

.spoiler:before {
    content: ' + \00a0\00a0';
}

.spoiler.spoiler-active:before {
    font-weight: bold;
    content: " -- \00a0\00a0";
}

.groupCard {
    font: 13px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif;
    min-height: 70px;
    margin: 0.2rem 0 0.2rem 0;
    background-color: #222222;
    border-radius: 2px;
    padding: 5px;
}

.groupNameTitle {
    opacity: 0.3;
}

.groupName {
    font-size: 1.2em;
}

span.lang.right > span {
    width: 2em;
    height: 2em;
}

.downloadCard {
    font: 13px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif;
    min-height: 128px;
    margin: 0.2rem 0 0.2rem 0;
    background-color: #222222;
    border-radius: 2px;
    min-width: 350px;
    border-left: 5px solid #222222;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
}

.focusedDownloadCard {
    background-color: #2F2F2F;
}